#signup-main-bg{
    background-image: url('/images/signup-page-bg.gif');
    background-repeat: no-repeat; /* Prevent repetition */
    background-position: center; /* Center the image */
    background-size: cover; /* Ensure it covers the entire area */
}


#signup_form,#login_form{
    background-color: rgb(255, 255, 255);
    margin: 0 auto 0;
    width: 400px;
    padding: 20px 10px 20px 10px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0,0,0.5);
}
#form-inputs{
    /* background-color: tomato; */
    padding: 12px 12px 12px 12px;
}
#name-input{
    width: 100%;
    padding: 10px 14px 10px 14px;
    border: 1px solid #4317A2;
    outline: none;
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 3px 4px rgba(0, 0,0,0.1);

}
#signup-form-btn{
    background: none;
    padding: 16px 12px 16px 12px;
    width: 100%;
    color: #212426;
    font-weight: 500;
    border: 2px solid #212426;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}
#signup-form-btn:hover{
    transform: scale(1.01);
    transition: 0.1s ease-in;
    border: none;
    background-color: #212426;
    color: white;
    font-weight: 700;   
}