#stocks-fund-header{
    background-color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    box-shadow: 1px 4px 5px rgba(0,0,0,0.2);
}
#stocks-fund-01{
    /* background-color: bisque; */
    padding: 10px 5px 10px 5px;
    max-width: 1200px;
    margin: 0 auto 0;
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: center;
}
#stocks-fund-hero{
    /* background-color: rgb(146, 146, 146); */
    padding: 10px 20px 10px 20px;
}
#stocks-fund-02{
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 20px 15px 20px 15px;
    max-width: 1200px;
    margin: 0 auto 0;
    /* display: flex;
    gap: 10px;
    align-items: center;
    align-content: center; */
    box-shadow: 0px 7px 10px rgba(0,0,0,0.2);
}
#stocks-funds-details-head{
    background-color: #212426;
    border-radius: 12px;
    padding: 20px 15px 20px 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: white;
}
#stocks-funds-main-content{
    background: rgb(0,51,102);
    background: linear-gradient(159deg, rgba(0,51,102,1) 0%, rgba(15,82,186,1) 100%);
    border-radius: 12px;
    padding: 20px 15px 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    color: white;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.2);
}
#stocks-fund-h6-words{
    margin-bottom: 4px;
    color: rgb(255, 255, 255);
    display: none;
    font-weight: 100;
    font-size: 12px;
}
#stocks-fund-invest-btn{
    background: white;
    border: none;
    border-radius: 12px;
    padding: 12px 15px 12px 15px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.4);
    color: #212426;
}
#stock-invest{
    background: #00B852;
    border: none;
    border-radius: 12px;
    padding: 12px 15px 12px 15px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.4);
    color: #ffffff;
}
#stock-invest:hover{
    background: #009554;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.4);
    color: #ffffff;
    font-weight: 600;
}
#stocks-fund-cancel-btn{
    background: white;
    border: none;
    border-radius: 12px;
    padding: 12px 15px 12px 15px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.4);
    color: #212426; 
}
#stocks-fund-cancel-btn:hover{
    background: #ff5c3f;
    font-weight: 600;
    transform: scale(0.98);
    transition: 0.1s;
    color: #ffffff;
}
#stocks-fund-invest-btn:hover{
   background: #EDFDFE;
   font-weight: 600;
   transform: scale(0.98);
   transition: 0.1s;
   color: #01B751;
}



/* //investment card */
/* //investment card */
/* //investment card */
#invest-card-outer{
background-color: rgba(0,0,0,0.5);
position: fixed;
width: 100%;
top: 50%;
left: 50%;
z-index: 1000;
transform: translate(-50%, -50%);
padding: 150px 20px 150px 20px;
overflow: hidden;
}
#invest-card-inner{
    background-color: white;
    padding: 20px 20px 20px 20px;
    max-width: 700px;
    margin: 0 auto 0;
    border-radius: 12px;
}

#invest-onetime-btn{
    background: none;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    font-size: 18px;
    cursor: pointer;
    width: 100%; 
}
#stock-form{
    /* background-color: #00a4e4; */
    padding: 20px 10px 20px 10px;
}

/* //responsiveness */
@media screen and ( max-width:800px) {
    #stocks-funds-details-head{
        display: none;
    }

    #stocks-funds-main-content{
       display: block;
    }
    #stocks-fund-h6-words{
        display: block;
    }
    #stocks-fund-invest-btn{
     width:100%;
    }
}