#nav-main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;

}

#nav-mid{
    background-color: white;
    flex:1;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-weight: 700;

}
#navright{
    /* background-color: white; */
    padding: 20px 20px 20px 20px;
    display: flex;
        /* gap: 10px; */
}
#login-btn,#signup-btn{
    background: none;
    border:none;
    outline:none;
    padding: 10px 20px 10px 20px;
    color: white;
    cursor: pointer;
}
#login-btn:hover{
    background: #00B852;
    color: white;
    cursor: pointer;
    font-weight: 600;
}
#signup-btn:hover{
    background: #00B852;
    color: white;
    cursor: pointer;
    font-weight: 600;
}